/* Global */

* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  /* padding: 0; */
}

h2 {
  font-weight: bold;
  text-align: left;
}

.imagen {
  display: flex;
  padding: 10px;
}

/* Header */

header {
  background: #00AF1C;
  color: white;
  height: 80px;
}

header h2 {
  position: absolute;
  padding: 5px 0px 0px 20px;
}

.header-nav {
  display: flex;
  justify-content: right;
  align-content: center;
  padding-top: 30px;
}

header a {
  color: white;
  text-decoration: none;
  margin: 0px 20px 0px 10px;
}

/* seccion home */

.section-home {
  padding: 0px 30px 0px 30px;
}

.section-home h2{
  color: #3B06D2;
}

.section-home img{
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 35px 0px rgba(143,136,136,0.75);
  -webkit-box-shadow: 10px 10px 35px 0px rgba(143,136,136,0.75);
  -moz-box-shadow: 10px 10px 35px 0px rgba(143,136,136,0.75);
}
/* seccion servicios */

.section-servicios {
  padding: 0px 30px 0px 30px;
}

.section-servicios h2{
  color: #D206B2;
}

.section-servicios img{
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 35px 0px rgba(143,136,136,0.75);
  -webkit-box-shadow: 10px 10px 35px 0px rgba(143,136,136,0.75);
  -moz-box-shadow: 10px 10px 35px 0px rgba(143,136,136,0.75);
  margin-bottom: 20px;
}

.section-servicios ul {
  font-weight: bold;
  margin-bottom: 50px;
}
.section-servicios li{
  margin: 20px 0px 20px 0px;
}
.servicio-li-1 {color: #FF0000;}
.servicio-li-2 {color: #1400FF;}
.servicio-li-3 {color: #D79B00;}
.servicio-li-4 {color: #03B2B2;}

/* Seccion Portafolio */

.section-portafolio {
  padding: 0px 30px 0px 30px;
}

.section-portafolio h2 {
  color: #D206B2;
}

.section-portafolio img{
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 35px 0px rgba(143,136,136,0.75);
  -webkit-box-shadow: 10px 10px 35px 0px rgba(143,136,136,0.75);
  -moz-box-shadow: 10px 10px 35px 0px rgba(143,136,136,0.75);
  margin-bottom: 20px;
}

.section-portafolio ul{
  font-weight: bold;
  margin-bottom: 50px;
}
.section-portafolio li{
  margin: 20px 0px 20px 0px;
}
.portafolio-li-1 {color: #AE8800;}
.portafolio-li-2 {color: #AE280B;}
.portafolio-li-3 {color: #060564;}
.portafolio-li-4 {color: #637300;}


/* Sección Contacto */

.section-contacto {
  padding: 0px 30px 0px 30px;
}

.section-contacto h2{
  color: #D20606;
}

.form-nombre{
  margin-bottom: 10px;
  width: 50%;
  height: 50px;
}

.form-detalle{
  margin-bottom: 10px;
  width: 50%;
  height: 100px;
}

.section-contacto-form button{
  color: green;
  height: 50px;
  width: 100px;
  background-color: white;
  border-color: green ;
}
/* Footer */

footer{
  color: white;
  font-weight: bold;
  background: #00AF1C;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px 0px 30px;
  margin-top: 20px;
}